<strong> Olá, {{name}} </strong>
<p>Houve uma solicitação para troca de senha em sua conta.</p>
<p>Se foi você, então clique no link abaixo para escolher uma nova senha:</p>
<p>
	<a href="{{link}}">Resetar minha senha</a>
</p>
<p>Se não foi você, então descarte esse email.</p>
